
@{
    ViewBag.Title = "Checklist";
}
<div align="center"><span class="B14Blk">Backpacking Checklist</span></div>
<br />
<table border="1">
        <tr>
            <td class="LT">

                <p class="N10Blk">
                    <strong>Shelter</strong><br>
                    <ul>
                        <li>Anchor Rope
                        <li>Ground Cloth
                        <li>Tent
                        <li>Tent Fly
                        <li>Tent Poles
                        <li>Tent Stakes
                    </ul>
                </p>

            </td>
            <td class="LT">

                <p class="N10Blk">
                    <strong>Organization</strong><br>
                    <ul>
                        <li>Backpack
                        <li>Fanny Pack
                        <li>Garbage Bags
                        <li>Rain Cover
                        <li>Stuff Sacks
                        <li>Ziploc Bags
                    </ul>
                </p>

            </td>
            <td class="LT">
                <p class="N10Blk">
                    <strong>Sleeping</strong><br>
                    <ul>
                        <li>Foam Pad
                        <li>Pillow
                        <li>Sleeping Bag
                        <li>Sleeping Pad
                    </ul>
                </p>


            </td>
        </tr>
        <tr>
            <td class="LT">

                <p class="N10Blk">
                    <strong>Clothing</strong><br>
                    <ul>
                        <li>Bandana
                        <li>Camp Shoes
                        <li>Cap
                        <li>Fleece Jacket
                        <li>Gloves
                        <li>Heavy Socks
                        <li>Hiking Boots
                        <li>Liner Socks
                        <li>Rain Jacket
                        <li>Rain Pants
                        <li>Shorts
                        <li>T-Shirts
                        <li>Underwear
                        <li>Watch
                    </ul>
                </p>


            </td>
            <td class="LT">

                <p class="N10Blk">
                    <strong>Survival</strong><br>
                    <ul>
                        <li>Candle
                        <li>Compass
                        <li>Duct Tape
                        <li>Extra Batteries
                        <li>Extra Bulb
                        <li>Extra Cash
                        <li>Extra Food
                        <li>Extra Water
                        <li>Fire Starter
                        <li>Fishing Gear
                        <li>Flashlight
                        <li>Iodine
                        <li>Lighter
                        <li>Magnifying Glass
                        <li>Map
                        <li>Multitool / Knife
                        <li>Notepad
                        <li>Pencil
                        <li>Poncho
                        <li>Rope - 100ft
                        <li>Rubber Bands
                        <li>Sewing Kit
                        <li>Signal Mirror
                        <li>Small wire
                        <li>Space Blanket
                        <li>Sunglasses
                        <li>Tie Wraps
                        <li>Waterproof Matches
                        <li>Whistle
                        <li>Wire Saw
                    </ul>
                </p>

            </td>
            <td class="LT">
                <p class="N10Blk">
                    <strong>First-Aid</strong><br>
                    <ul>
                        <li>Adhesive Tape
                        <li>Antibiotic Ointment
                        <li>Antifungal Ointment
                        <li>Antiseptic Wipes
                        <li>Bandages (B)
                        <li>B: Adhesive Strip
                        <li>B: Butterfly
                        <li>B: Compression
                        <li>B: Gauze
                        <li>B: Large Compress
                        <li>Burn Ointment
                        <li>First-Aid Pamphlet
                        <li>Insect Repellent
                        <li>Latex Gloves
                        <li>Lip Balm
                        <li>Medicines (M)
                        <li>M: Antacid
                        <li>M: Antihistamine
                        <li>M: Anti-Diarrheal
                        <li>M: Cough Drops
                        <li>M: Electrolyte Tabs
                        <li>M: Laxative
                        <li>M: Pain Reliever
                        <li>M: Prescription
                        <li>M: Vitamins
                        <li>Moleskin
                        <li>Nail Clippers
                        <li>Safety Pins
                        <li>Scissors
                        <li>Snake Bite Kit
                        <li>Soap
                        <li>Sunblock
                        <li>Towelettes
                        <li>Tweezers
                    </ul>
                </p>


            </td>
        </tr>
        <tr>
            <td class="LT">
                <p class="N10Blk">
                    <strong>Cooking</strong><br>
                    <ul>
                        <li>Cook Pot
                        <li>Eating Utensils
                        <li>Fuel Bottle
                        <li>Fuel Funnel
                        <li>Insulated Cup
                        <li>Pot Handle
                        <li>Pot Scrubber
                        <li>Stove
                        <li>Stove Fuel
                    </ul>
                </p>



            </td>
            <td class="LT">

                <p class="N10Blk">
                    <strong>Personal Hygiene</strong><br>
                    <ul>
                        <li>Medicated Powder
                        <li>Plastic Trowel
                        <li>Small Comb
                        <li>Toilet Paper
                        <li>Toothbrush
                        <li>Toothpaste
                        <li>Towel
                        <li>Towelettes (Wet Ones)
                    </ul>
                </p>

            </td>
            <td class="LT">

                <p class="N10Blk">
                    <strong>Food and Water</strong><br>
                    <ul>
                        <li>Bagels
                        <li>Beef Jerky
                        <li>Cheese and Crackers
                        <li>Freeze Dried Meals
                        <li>Gatorade
                        <li>Hard Candy
                        <li>Monzarella Cheese
                        <li>Power Bars
                        <li>Peanut Butter
                        <li>Spices
                        <li>Summer Sausage
                        <li>Tea / Coffee
                        <li>Tortillas / Pita Bread
                        <li>Trail Mix
                        <li>Water Filter
                        <li>Water Bottles
                    </ul>
                </p>

            </td>
        </tr>
        <tr>
            <td class="LT" colspan="3">
                <p class="N10Blk">
                    <strong>
                        Extras
                    </strong>
                    <br>
                    <ul>
                        <li>Binoculars
                        <li>Camera
                        <li>Camera Film
                        <li>Camp Chair
                        <li>Candle Lantern
                        <li>Extra Batteries
                        <li>Eyeglasses
                        <li>GPS
                        <li>Playing Cards
                        <li>Pocket Radio
                        <li>Reading Materials
                        <li>Repair Kit
                    </ul>
                </p>
            </td>
        </tr>
    </table>


