
@{
    ViewBag.Title = "Trips";
}

<table border=0 width="100%">

    <tr>

        <td align="center" valign="middle" width="33%">

            <img src="~/Images/Interests/tent1.jpg" alt="[Backpacking Tent]" width="150" height="81">

        </td>

        <td align="center" valign="middle" width="33%">
            <div align="center"><span class="B14Blk">Trip Reports</span></div>
        </td>

        <td align="center" valign="middle" width="33%">

            <img src="~/Images/Interests/hiker1.jpg" alt="[Tired Backpacker]" width="115" height="150">

        </td>

    </tr>

</table>


@Html.ActionLink("santa catalina mountains", "Index", "Trips")
