
@{
    ViewBag.Title = "Biography";
}
<div align="center"><span class="B14Blk">Biography</span></div>
<br />
<table border="0" cellpadding="2" cellspacing="0" width="100%" style="text-align:left;">
    <tr>
        <td class="LT">

            <div class="B10Blk">

                Spencer Ray Aldridge<br>

                Data Sheet:

            </div>

        </td>

        <td class="RT">

            <img align="right" src="~/Images/Biography/little.jpg" alt="[Guess who?]" width="105" height="150">

        </td>

    </tr>

    <tr>

        <td colspan="2">

            <dl>

                <dt><div class="B10Blk">Name</div></dt>

                <dd><div class="N10Blk">Spencer Ray Aldridge</div></dd>

                <br>

                <br>

                <dt><div class="B10Blk">Birth</div></dt>

                <dd>

                    <div class="N10Blk">

                        My parents raised me in Marks, MS, a

                        small agricultural town in the Northwest MS Delta region. I grew up on a cotton and soybean farm,

                        Aldridge Farms, established by my dad and grandfather.

                    </div>

                </dd>

                <br>

                <br>

                <dt><div class="B10Blk">Childhood Hobbies and Work</div></dt>

                <dd>

                    <div class="N10Blk">

                        Tonka toys, tractors, and GI Joes were some of my favorite toys as a youngster. I liked to play outside and in the dirt whenever possible. As I grew, chemistry and electronics

                        sets,	plastic models, and erector sets took the place of my earlier toys. I also rode a bicycle all that I could. We were fortunate to have a large front yard, so,

                        each Sunday after church, our friends in the community would come over for a baseball or football game. I started fishing in

                        High School.

                        <br>

                        <br>

                        There was always work to be done on the farm, so, I always had a part or full time job whether I wanted one or not.

                        Driving a tractor - usually clearing field drainage ditches and mowing turn rows - and chopping cotton were my Summer jobs from

                        9 years old on. Its was always hard work, however, I have fond memories of the farm to this day. I am proud that my

                        dad and grandfather taught me the importance of work. A family friend, Mr. Jimmy Lee, offered me a job at his supermarket for part-time and after school	work during High School. I was a

                        stocker for a while and then I was transfered into the Meat market. Working in the meat market was a very enjoyable

                        job for me; they wouldn't let me near the meat saw, though. :)

                    </div>

                </dd>

                <br>

                <br>

                <dt><div class="B10Blk">Church and Religion</div></dt>

                <dd>

                    <div class="N10Blk">

                        Church was the place to be for me and my family on Sunday. In Marks, we attended West Marks Baptist Church, a Southern-Baptist

                        affiliated baptist church that was founded by my grandparents and a handful of other charter members. I became a Christian and

                        a member of the church when I was nine. I met many of my friends through Church. It really doesn't take alot of

                        insight to figure out who is responsible for this universe and all mankind. The explanation is given freely to all of

                        us in the <a href="http://www.kjvbiblesearch.com">Holy Bible</a>.

                    </div>

                </dd>

                <br>

                <br>

                <dt><div class="B10Blk">Education</div></dt>

                <dd>

                    <div class="N10Blk">

                        I attended high school at Delta Academy in Marks. After high school,

                        I attended Northwest Mississippi Junior College in Senatobia, MS. I completed the

                        pre-Engineering program there. After Northwest, I attended the University of Mississippi in Oxford, MS. I had

                        plans to go to Mississippi State, but, I received a scholarship to Ole Miss instead. While at Ole Miss, I was a member of both

                        the Tau Beta Pi and Eta Kappa Nu engineering honor societies. In 1987, I graduated Cum Laude from Ole Miss with

                        a Bachelor of Science in Electrical Engineering degree.<br><br>
                        Around 2005, I began taking Horticulture classes at Nashville State Community College to increase my knowledge of plants and the plant business. Before leaving Nashville in 2009, I graduated Summa Cum Laude from Nashville State with a Technical Certificate in Horticulture.

                    </div>

                </dd>

                <br>

                <br>

                <dt><div class="B10Blk">Career</div></dt>

                <dd>

                    <div class="N10Blk">

                        Before I graduated from Ole Miss, I accepted a job as Reliability

                        Engineer with Texas	Instruments' Defense Systems and Electronic Group located

                        in McKinney, TX. Our factory produced Terrain Following Radar systems for

                        domestic and foreign jet fighter planes. I was responsible for circuit to system reliability analysis,

                        Mean Time Between Failure (MTBF) prediction, and reliability testing. I also

                        worked briefly as Test Engineer for the Avionics Microwave Test Facility (AMTF), as Quality Assurance Engineer for NavAttack programs and as Procurement

                        Assurance Engineer for the ISAR program. I worked on the following radar programs:

                        <br>

                        <br>

                        <table width="100%" border="0" cellpadding="4">

                            <tr>

                                <td class="LT">

                                    <ul>

                                        <li>APQ-122

                                        <li>APQ-126/158

                                        <li>APQ-171

                                        <li>MRCA

                                        <li>APQ-172

                                        <li>Lantirn

                                        <li>ISAR

                                    </ul>

                                </td>

                                <td class="CT">

                                    <img src="~/Images/Biography/a7e.jpg" alt="[A7E Fighter - APQ-126]" border="0" width="200" height="85">

                                    <br>

                                    <img src="~/Images/Biography/mrca.jpg" alt="[Panavia Tornado - MRCA Radar]" border="0" width="200" height="81">

                                </td>

                            </tr>

                        </table>

                        After developing software to test microwave components in the AMTF, I decided that

                        I would like to search for a full time software development job. I got my chance when

                        I applied for and accepted a job as Test Engineer with Texas Instruments' Digital Light

                        Processing (DLP) division. At this job, my primary responsibility was to

                        develop software to test the Digital Micromirror Device (DMD), a micro-electromechanical

                        device used in the production of digital projectors. While at DLP, I helped to design the

                        Tilt Angle Measurement System (TAMS), a DMD production tester used to confirm mirror tilt, reflectivity, and

                        contrast ratio. I also developed the software used in the final visual acceptance test of the DMD.<br>

                        <br>

                        In 1998, I was fortunate to leave Dallas for Nashville, TN. I accepted a job as an internet software developer for LifeWay Christian Resources. While at LifeWay, I was responsible for the development and support of LifeWay's ECommerce sites: lifewaystores.com and lifeway.com. Times were great for many years at LifeWay. I worked flexible hours developing software with current technologies and worked for great, supportive managers. <br>
                        <br>
                        In May 2007, I accepted a software developer position with Passport Health Communications in
                        Franklin, TN. My main duties involved the design and development of software for Passport's OneSource and Intellisource products.  I left Passport in late 2009.
                        <br><br>
                        In October 2009, I was fortunate to relocate to Tupelo, MS, accepting an Internet Systems Development Specialist position with Ashley Furniture Industries in Verona, MS. My primary responsibilities include the development and support of Ashley's replacement parts and blocking applications.

                    </div>

                </dd>

            </dl>

        </td>

    </tr>

</table>



