
@{
    ViewBag.Title = "Home";
}

<img style="border-image:0" src="../trips/2016/badlands-np-sd/images/rmnp2016.jpg" alt="[Rocky Mountain National Park]" width="450" height="299" />
<br />
<br />
<strong>Horseshoe Park Viewpoint</strong><br /><br />
					Rocky Mountain National Park, CO<br />
					September 2016<br />
<hr />
					Working on getting all my vacation photos <a href="http://colorado.rayaldridge.com">online</a>. <br />

