
@{
    ViewBag.Title = "Ancestors";
}

<table border=0 width="100%">
    <tr>
        <td width="33%" align="center">
            <img src="~/Images/Interests/family1.jpg" alt="[Family]" width=150 height=105>
        </td>
        <td class="dummy" width="33%" align="center">
            <p><font size="+1">Ancestors<br><br>of<br><br>Spencer Ray Aldridge</font></p>
        </td>
        <td width="33%" align="center">
            <img src="~/Images/Interests/tree1.jpg" alt="[Tree]" width=150 height=115>
        </td>
    </tr>
</table>
<br><br>
<table border=0 style="width: 100%; font: 10pt arial, helvetica, sans-serif;">
    <tr>
        <td>
            <div style="position: absolute; height: 3.0em; left: 250px;">(7) James Aldridge (00/00/1749 - )</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 230px;">(6) John L. Aldridge (00/00/1786 - 12/17/1866)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 250px;">(7) Rosanna Kendrick (00/00/1751 - )</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 210px;">(5) William Washington Aldridge Sr. (02/12/1825 - 04/21/1898)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 230px;">(6) Abigail Gilly Ferguson (00/00/1795 - 12/13/1867)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 190px;">(4) James M. Aldridge (Born 10/00/1856)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 210px;">(5) Elizabeth UNKNOWN (10/02/1827 - 04/14/1858)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 170px;">(3) William Edgar Aldridge (09/13/1882 - 10/17/1961)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 250px;">(7) John Roberts (12/26/1779 - 06/23/1842)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 230px;">(6) Matthew Roberts (08/20/1797 - 07/08/1882)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 250px;">(7) Sarah Gheen (00/00/1770 - 00/00/1838)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 210px;">(5) John Chapman Roberts (02/14/1821 - 07/03/1885)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 230px;">(6) Susan Wells (09/10/1802 - 01/11/1888)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 190px;">(4) Peninah H. Roberts (01/00/1855 - 00/00/1911)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 250px;">(7) John Reubin Flannigan (00/00/1765 - 00/00/1845)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 230px;">(6) Thomaslaia (Thomas) Flannigan (00/00/1793 - 08/22/1869)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 250px;">(7) Deannah UNKNOWN (00/00/1760 - 00/00/1840)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 210px;">(5) Emeline Flannigan (04/21/1821 - 05/13/1871)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 230px;">(6) Jane (Jincey) Murphy (00/00/1798 - 00/00/1850)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 150px;">(2) Truman Spencer Aldridge (02/23/1912 - 01/30/1987)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 190px;">(4) William A. Stringfellow (00/00/1834 - )</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 170px;">(3) Fannie Logan Stringfellow (09/18/1881 - 01/24/1961)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 190px;">(4) Mary Francis Ward (00/00/1843 - )</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 130px;">(1) J. H. Aldridge (1934 - )</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 190px;">(4) Andrew J Willis (07/12/1848 - 10/03/1933)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 170px;">(3) Westly Sylvester Willis (12/28/1884 - 04/17/1984)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 270px;">(8) Richard Lovell Edgeworth (05/31/1744 - 06/13/1817)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 250px;">(7) Richard Lovell Edgeworth (00/00/1765 - 00/00/1796)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 270px;">(8) Anna Maria Elers (00/00/1743 - 00/00/1773)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 230px;">(6) Nathaniel Lovell Edgeworth (05/00/1789 - 00/00/1872)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 210px;">(5) Richard Nathaniel Edgeworth (09/05/1821 - 07/02/1898)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 190px;">(4) Martha Isabella Edgeworth (06/01/1859 - )</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 210px;">(5) Nancy Ann Brewer (12/01/1827 - 07/00/1905)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 150px;">(2) D. M. Willis (1913 - )</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 190px;">(4) Isaac M. McClendon (00/00/1824 - 04/12/1920)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 170px;">(3) Ella Josephine McClendon (01/19/1890 - 05/13/1979)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 230px;">(6) Edmund Mason (00/00/1790 - 04/15/1873)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 210px;">(5) Elijah M. Mason (08/17/1821 - 01/22/1898)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 230px;">(6) Rebecca Elizabeth Woods (00/00/1800 - 00/00/1871)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 190px;">(4) Sallie A. Mason (00/00/1859 - )</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 210px;">(5) Margaret UNKNOWN (00/00/1827 - 00/00/1867)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 110px;">(0) Spencer Ray Aldridge (1964 - )</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 210px;">(5) William Thornton (00/00/1814 - )</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 190px;">(4) James Z. Thornton (04/22/1846 - 05/26/1909)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 210px;">(5) Henrietta Jenkins (00/00/1813 - )</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 170px;">(3) James Oscar Thornton (06/13/1875 - 03/19/1951)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 330px;">(11) William Peacock (00/00/1658 - 00/00/1723)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 310px;">(10) Samuel Peacock (00/00/1680 - 00/00/1739)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 290px;">(9) Samuel Peacock (00/00/1707 - 00/00/1790)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 330px;">(11) James Stringfellow (Born 00/00/1650)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 310px;">(10) Mary Stringfellow (00/00/1677 - 00/00/1720)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 270px;">(8) Samuel Peacock (00/00/1740 - 00/00/1815)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 290px;">(9) Matilda Tilsey Cicily (00/00/1707 - 00/00/1800)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 250px;">(7) Levi Peacock (00/00/1751 - 00/00/1822)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 270px;">(8) Amy Vining Thomas (00/00/1746 - 00/00/1820)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 230px;">(6) Pearson Peacock (00/00/1779 - 00/00/1845)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 270px;">(8) Jonathan Pearson (00/00/1733 - 00/00/1784)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 250px;">(7) Jemimah Pearson (Born 00/00/1758)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 290px;">(9) William Elliott (00/00/1708 - 00/00/1751)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 270px;">(8) Rebecca Elliott (00/00/1719 - 00/00/1764)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 290px;">(9) Elizabeth Emms (00/00/1705 - 03/16/1787)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 210px;">(5) Benjamin Gordon Peacock (00/00/1816 - 00/00/1863)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 230px;">(6) Nancy Peacock (00/00/1783 - 00/00/1857)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 190px;">(4) Nancy Jane Peacock (01/00/1845 - 00/00/1900)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 230px;">(6) John Windham Jr. (00/00/1785 - 01/04/1836)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 210px;">(5) Celia Iantha Windham (00/00/1819 - 00/00/1880)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 230px;">(6) Virginia Jane Bartlett (00/00/1790 - 00/00/1861)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 150px;">(2) Guy Lamar Thornton Sr. (11/21/1899 - 03/04/1938)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 210px;">(5) James Benoist (00/00/1801 - )</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 190px;">(4) John Cristopher Benoist (09/12/1848 - 05/03/1931)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 210px;">(5) Elizabeth UNKNOWN (00/00/1808 - )</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 170px;">(3) Louella Jane Benoist (07/14/1880 - 01/21/1977)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 250px;">(7) Willam Parker (00/00/1767 - 00/00/1850)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 230px;">(6) Henry Parker (00/00/1792 - 00/00/1859)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 250px;">(7) Elizabeth &quot;Betsy&quot; Beasley (00/00/1772 - 00/00/1838)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 210px;">(5) James Henry Parker (00/00/1824 - )</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 230px;">(6) Elizabeth Willis (00/00/1795 - 00/00/1870)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 190px;">(4) Mary Francis Parker (08/06/1854 - 11/28/1941)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 210px;">(5) Nancy Jane Barnes (00/00/1828 - )</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 130px;">(1) D. E. Thornton (12/31/1931 - )</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 190px;">(4) Richard P. Shields Sr. (08/01/1840 - 12/21/1907)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 210px;">(5) Emaline Thornton (12/13/1818 - 12/20/1904)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 170px;">(3) George Washington Shields (05/22/1876 - 02/11/1922)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 190px;">(4) Amanda Elizabeth Martin (06/11/1847 - 02/02/1904)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 150px;">(2) Mary Elizabeth Shields (12/25/1898 - 10/12/1984)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 230px;">(6) Presley Rotenberry (01/31/1793 - 07/20/1849)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 210px;">(5) Charles John Rotenberry (00/00/1819 - )</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 330px;">(11) Robert Collyer (00/00/1556 - 00/00/1625)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 310px;">(10) Isaac William Collyer (00/00/1606 - 00/00/1688)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 330px;">(11) Mary Strange (00/00/1563 - )</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 290px;">(9) Charles Collier (00/00/1670 - 00/00/1722)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 310px;">(10) Mary Sarah Lockey (00/00/1606 - 00/00/1688)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 270px;">(8) Isaac Collier (00/00/1709 - 00/00/1771)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 290px;">(9) Judith Myhill (00/00/1669 - )</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 250px;">(7) Charles Collier (00/00/1735 - 00/00/1814)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 270px;">(8) Anne Vines (00/00/1713 - )</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 230px;">(6) Elizabeth Ann Collier (05/11/1802 - 02/25/1885)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 250px;">(7) Patty Gaines (00/00/1774 - )</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 190px;">(4) Charles Gilum Rotenberry (08/19/1853 - 07/28/1894)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 210px;">(5) Mahaley Espy (00/00/1815 - )</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 170px;">(3) Mattie Mahallie Rotenberry (02/16/1875 - 08/21/1951)</div><br><br>
            <div style="position: absolute; height: 3.0em; left: 190px;">(4) Mary Jane Carthom (10/15/1849 - 02/07/1907)</div><br><br>
        </td>
    </tr>
</table>


